<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bar Tint Color</key>
	<string>5495e6</string>
	<key>Title Tint Color</key>
	<string>FFFFFF</string>
	<key>Status Bar Style</key>
	<integer>1</integer>
	<key>Btn Title Color</key>
	<string>FFFFFF</string>
	<key>Btn Bg Color</key>
	<string>5495e6</string>
	<key>Server Environment</key>
	<integer>0</integer>
</dict>
</plist>
